 img
 {
  border-radius: 10px;
 }
 .navbars{
   /* From https://css.glass */
background: #e7e7e7;
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
 }
 .navbars:hover{
   background: #e7e7e7;
   transform:3s;
   
 }
