#productimage{
    border: 0.06px solid grey;
    border-radius: 10px;
   
}
.price{
    text-decoration: line-through;
    /* color: blue; */
}

/* Product Component */
.productbox{
box-shadow: 0 8px 12px 0 rgba( 31, 38, 23, 0.37 );
backdrop-filter: blur( 20px );
-webkit-backdrop-filter: blur( 20px );
border-radius: 10px;
/* border: 1px solid rgba( 255, 255, 255, 0.18 ); */
}
.productbox:hover{
   border: 2px solid rgb(36, 35, 35);
    transition:5s;


}